*

!README.md
!.gitignore

!bash
!bat
!htop
!keynav
!lf
!neofetch
!suckless
!starship.toml
!setup_new.sh
!.vim
!kak
!nvim

!bash/**
!bat/**
!htop/**
!keynav/**
!lf/**
!neofetch/**
!suckless/**
!starship.toml/**
!setup_new.sh/**
!.vim/**
!kak/**
!nvim/**

kak/plugins
.vim/plugged
.vim/plugged/**
.vim/%*
