*

!README.md
!.gitignore

!bash
!bat
!htop
!keynav
!lf
!neofetch
!suckless
!starship.toml
!setup_new.sh

!bash/**
!bat/**
!htop/**
!keynav/**
!lf/**
!neofetch/**
!suckless/**
!starship.toml/**
!setup_new.sh/**
